@import '../../../../styles/variables';

.product {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

	border-bottom: 1px solid $white-smoke;

	img {
		width: 100%;

		cursor: pointer;

		border-radius: 10px;
		background-color: $white-smoke;
	}

	&__name {
		margin-bottom: 5px;

		cursor: pointer;

		font-size: 14px;
		font-weight: 500;
	}

	&__description {
		opacity: 0.5;

		font-size: 10px;
	}
}
